
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* Estilos globales */

div{
    width: 100%;
}
img{
    display:block;
    width: 250px;
    height: auto;
    margin-top: 250px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 999px;
}
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
  }
  
  h1, h2, h3 {
    font-weight: bold;
    margin: 0.5em 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  /* Estilos del encabezado */
  header {
    background-color: #f2f2f2;
    padding: 1em;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  
  nav li {
    margin: 0 1em;
  }
  
  /* Estilos de la sección "Sobre mí" */
  #sobre-mi {
    background-color: #fff;
    padding: 2em;
  }
  
  /* Estilos de la sección "Experiencia" */
  #experiencia {
    background-color: #f2f2f2;
    padding: 2em;
  }
  
  #experiencia li {
    border-left: 3px solid #333;
    margin-bottom: 1em;
    padding-left: 1em;
  }
  
  #experiencia h3 {
    margin-top: 0;
  }
  
  #experiencia p {
    margin: 0;
  }
  
  /* Estilos de la sección "Educación" */
  #educacion {
    background-color: #fff;
    padding: 2em;
  }
  
  #educacion li {
    border-left: 3px solid #333;
    margin-bottom: 1em;
    padding-left: 1em;
  }
  
  #educacion h3 {
    margin-top: 0;
  }
  
  #educacion p {
    margin: 0;
  }
  
  /* Estilos de la sección "Habilidades" */
  #habilidades {
    background-color: #f2f2f2;
    padding: 2em;
  }
  
  #habilidades li {
    display: inline-block;
    margin-right: 1em;
  }
  
  #habilidades li:last-child {
    margin-right: 0;
  }
  .generate-pdf{
    display: none;
    position:absolute;
    top: 0rem;
    left: 0rem;
    bottom: 10rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-right: 0;
  }
  .generate-pdf:hover{
    color: red;
  }
  .generate-pdf{
    display: inline-block;
  }

  .scale-cv .change-theme,
  .scale-cv .generate-pdf{
    display: flex;
  }
  .scale-cv .bd-container{
    max-width: 595px;
  }
  .scale-cv .section{
    padding: 1.5rem 0 .80rem;
  }
  .scale-cv .section-title{
    margin-bottom: .75rem;
  }
  .scale-cv .resumen__left,
  .scale-cv .resumen__right{
    padding: 0 1rem;
  }
  .scale-cv .home__img{
    width: 90px;
    height: 90px;
  }
  .scale-cv .home__container{
    gap: 1.5rem;
  }
  .scale-cv .home__data{
    gap: .25rem;
  }
  .scale-cv .home__address,
  .scale-cv .social__container{
    gap: .75rem;
  }
  .scale-cv .home__icon,
  .scale-cv .social__icon,
  .scale-cv .interests__icon{
    font-size: 1rem;
  }
  .scale-cv .education__container,
  .scale-cv .experience__container{
    gap: 5rem;
  }
  .scale-cv .education__rounder,
  .scale-cv .experience__rounder{
    width: 11px;
    height: 11px;
    margin-top: .22rem; 
  }
  .scale-cv .education__line,
  .scale-cv .experience__line{
    width: 1px;
    height: 110%;
    transform: translate(5px, 0);
  }
  .scale-cv .education__data,
  .scale-cv .experience__data{
    gap: .25rem;
  }
  .scale-cv .skills__name{
    margin-bottom: .5rem;
  }
  .scale-cv .interests__container{
    column-gap: 2.5rem;
  }